name: Backend CI

on:
  push:
    paths:
      - "backend/**"
      - ".github/workflows/backend-ci.yml"

jobs:
  lint-and-test:
    name: Backend Lint, Build, and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mongodb-version: ["6.0"]
    steps:
      - uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Cache Bun dependencies
        id: cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.bun/install/cache
            node_modules
          key: bun-${{ runner.os }}-${{ github.ref }}-${{ hashFiles('bun.lockb', 'package.json') }}
          restore-keys: |
            bun-${{ runner.os }}-${{ github.ref }}-
            bun-${{ runner.os }}-

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.12.1
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - name: Install dependencies
        run: bun install --frozen-lockfile
        working-directory: backend

      - name: Lint
        run: bun run lint
        working-directory: backend

      - name: Build
        run: bun run compile
        working-directory: backend

      - name: Test
        run: bun run test
        working-directory: backend
        env:
          CI: true
